#quiz_maker{
  background: white;
}
.qbox{
  background: $brand-primary;
  padding:10px;
  margin:10px;
  color:whitesmoke;
  font-weight:bold;
  box-shadow: 3px 4px 3px rgba(90, 90, 94, 0.3);
}
.quiz_table{
  border-top:5px solid $brand-primary;
}

.quiz_table table td{
  font-weight: bold;
}

body{
  line-height: inherit !important;
}
.quiz_table h4{
  margin-top: 2em;
}